@{
    ViewData["Title"] = "Welcome to Scholario";
}

<div class="container text-center">
    <h1>Welcome to the Scholario!</h1>
    <h3>Your Personal School Assistant!</h3>
    <p class="lead mb-4">
        Explore our schools, manage accounts, and access exclusive tools for teachers and students.
    </p>

    <p class="mb-4">
        To unlock personalized features, please
        <a href="Identity/Account/Login" class="btn btn-warning btn-lg mx-2">Log In</a>
        or
        <a href="/User/Register" class="btn btn-success btn-lg mx-2">Register</a>
    </p>

    <div class="mt-5">
        <a href="School/Schools" class="btn btn-primary btn-lg">View Schools</a>
    </div>
</div>