@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "Welcome to Scholario";
}

<div class="container text-center">
    <!-- Logo Image -->
    <img src="~/scholario_logo.png" alt="Scholario Logo" class="img-fluid mb-4" style="max-width: 200px;">

    <h1>@Localizer["WelcomeMessage"]</h1>
    <h3>@Localizer["DetailsInfo1"]</h3>
    <p class="lead mb-4">
        @Localizer["DetailsInfo2"]
    </p>

    <p class="mb-4">
        @Localizer["Personalisation"]
        <a href="Identity/Account/Login" class="btn btn-warning btn-lg mx-2">Log In</a>
        or
        <a href="/User/Register" class="btn btn-success btn-lg mx-2">Register</a>
    </p>

    <div class="mt-5">
        <a href="School/Schools" class="btn btn-primary btn-lg">View Schools</a>
    </div>
</div>