@model StudentDashboardViewModel

@{
    ViewData["Title"] = "Student Dashboard";
}

<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row w-100">
        <main class="col-md-8 mx-auto">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2 text-center">Dashboard</h1>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Average Grade</h5>
                            <p class="card-text display-4">@Model.AverageGrade</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-white bg-success mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Total Grade Count</h5>
                            <p class="card-text display-4">@Model.GradesCount</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-white bg-warning mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Project Count</h5>
                            <p class="card-text display-4">@Model.ProjectsCount</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>